<div class="c-featured-content-card {{ modifier_class }}">
  <img class="c-featured-content-card__image" src="{{ img_src }}" alt="{{ img_alt }}" srcset="{{ img_src2x }} 2x" width="353">
  <div class="c-featured-content-card__meta-info">
    <span>{{ date }}</span>
    <span>{{ location }}</span>
  </div>
  <h5 class="c-featured-content-card__header">{{ header }}</h5>
  <p class="c-featured-content-card__description">{{ description }}</p>
  {% include "../c-link/c-link.twig" with {
    iconStatus: 'has_icon',
    icon_name: 'right-arrow',
    modifier_class: 'c-link--no-hover-underline c-featured-content-card__link',
    content: 'Learn More',
  } only %}
</div>
